<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298687040355-f2l2a6usqt7lcjldvpcrnbo0mkg1mnps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298687040355-f2l2a6usqt7lcjldvpcrnbo0mkg1mnps</string>
	<key>API_KEY</key>
	<string>AIzaSyAqsemxwefg-GupvOsD6tfRsme50BXNVZY</string>
	<key>GCM_SENDER_ID</key>
	<string>298687040355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-f243e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-f243e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298687040355:ios:67c3f068f93adc1cc9a156</string>
</dict>
</plist>